.navbar {
    padding: 20px 0;
    border-bottom: 1px solid #e2e8f0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    gap: var(--space-lg);
}

.navbar-menu a {
    color: var(--color-text);
    transition: color 0.5s ease;
    cursor: pointer;
}

.navbar-menu a:hover {
    color: var(--color-primary);
}

.navbar-logo {
    font-weight: 700;
    font-size: 24px;
    color: var(--color-primary);

    cursor: pointer;
    transition: color 0.5s ease;
}

.navbar-logo:hover {
    color: var(--color-accent);
}


.btn-login {
    border: 1px solid var(--color-primary);

    border-radius: 8px;

    padding: 10px 18px;

    color: var(--color-primary);

    cursor: pointer;
    
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: var(--color-primary);
    color: white;
}