#hero {
    min-height: 80vh;
}

#hero .container {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-top: 40px;
}
.hero-content {
    flex: 1;
    max-width: 550px;
}

.hero-greeting {
    font-size: 16px;
    margin-bottom: 8px;
}

.hero-title {
    font-size: 64px;
    font-weight: 700;

    margin-bottom: 12px;
}

.hero-role {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 20px;

    color: var(--color-primary);
}

.hero-description {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 32px;
}

.hero-image {
    flex: 1;
    border: 1px solid black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    max-width: 550px;
    min-height: 300px;
}

.hero-image img {
    width: 100%;

    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.hero-actions {
    display: flex;
    gap: var(--space-md);
}

.btn-primary {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--color-accent);
    color: white;
}

.btn-secondary {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: var(--color-primary);
    color: white;
}



/* 
ABOUT
*/
#about {
    padding: 80px 0;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-image {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 16px;
}

.about-info {
    flex: 1.2;
}

.about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.about-description {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 32px;
}